html {
  background: url("../images/Hero Image_Edited.jpeg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  min-height: 100%;
  margin: 0;
}

@font-face {
	font-family: Averta-regular;
	src: url("../fonts/Averta/Averta.otf") format("opentype");
}

@font-face {
	font-family: Averta-bold;
	src: url("../fonts/Averta/Averta Bold.otf") format("opentype");
}

@font-face {
	font-family: Averta-semibold;
	src: url("../fonts/Averta/Averta Semibold.otf") format("opentype");
}

.center {
	margin: auto;
}

#welcomeTitle {
	color: #FFFFFF;
	font-family: Averta-bold;
	font-size: 40pt;
	text-align: center;
}

#welcomeSubtitle {
	color: #FFFFFF;
	font-family: Averta-semibold;
	font-size: 16pt;
	text-align: center;
	margin-top: 5px;
}

#introQuestion {
	color: #FFFFFF;
	font-family: Averta-semibold;
	font-size: 22pt;
	text-align: center;
}

#comingSoonText {
	color: #FFFFFF;
	font-family: Averta-regular;
	font-size: 16pt;
	text-align: center;
	margin-top: 100px;
	margin-bottom: 40px;
}

.answerButton {
	height: 50px;
	width: 250px;
	background-color: #8AC9B4;
	display: inline-block;
	color: #FFFFFF;
	font-family: Averta-regular;
	vertical-align: middle;
	text-align: center;
	border-radius: 10px;
	line-height: 50px;
}

#wrap {
	position: relative;
	top: 50%;
	transform: translateY(50%);
}
  
.submitButton {
	height: 40px;
	width: 120px;
	background-color: rgba(138, 201, 180, 0.7);
	border-color: #8AC9B4;
	color: #FFFFFF;
	font-family: Averta-semibold;
	text-align: center;
	border-radius: 0px 5px 5px 0px;
	line-height: 40px;
	font-size: 12pt;
	display: block;
	float: left;
	text-decoration: none;
	border-width: 1px;
	border-style: solid;
	transition: background-color 0.2s ease-out;
}

.submitButton:hover {
	background-color: #8AC9B4;
	cursor: pointer;
}

.emailField {
	height: 40px;
	width: 250px;
	font-family: Averta-regular;
	font-size: 12pt;
	border-color: #8AC9B4;
	float: left;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px 0px 0px 5px;
	border-right: none;
	background-color: rgba(255, 255, 255, 0.9);
	padding: 0px 10px 0px 10px;
	outline: none;
}

#submitFields {
	width: 394px;
	height: 40px;
}

#thanksContainer {
	height: 42px;
	width: 100%;
	margin-top: 40px;
}

#thanksDialog {
	height: 40px;
	line-height: 40px;
	border-color: #FFBCAB;
	background-color: rgba(255, 188, 171, 0.8);
	border-radius: 5px;
	font-family: Averta-regular;
	text-align: center;
	color: #FFFFFF;
	border-style: solid;
	border-width: 1px;
	width: 250px;
	padding: 0px 10px 0px 10px;
	display: none;
}

p, div {
	letter-spacing: 1px;
}